*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
html,body{
    width: 100%;
    height: 100%;

}
#three{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 60px 60px;
}
#three #weprovide{
    width: 500px;
    height: 100px;
}
#weprovide h2{
    font-size: 30px;
    font-weight: 800;
}
#weprovide h6{
    color: #40A9D1;
}
#three #features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
    margin-top: 5%;
}
.feat{
    width: 33%;
    height: 100%;
    padding: 60px 60px;
    text-align: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .2s;
}
.feat img{
    width: 50px;
    margin-bottom: 10%;
}
.feat h2{
    margin-bottom: 5%;
}
.feat p{
    margin-bottom: 10%;
    font-size: 14px;
    opacity: .7;
}
.feat button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: rgb(194, 194, 194);
    color: rgb(63, 63, 63);
    border-radius: 10px;
    outline: none;
}
.feat:hover{
    background-color: #fff;
    box-shadow: 0px 10px 50px #b6b6b696;
    transform: scale(1.09);
    border-radius: 10px;
    cursor: pointer;
}
.feat button:hover{
    background-color: #40A9D1;
    color: #fff;
}
#four{
    width: 100%;
    height: 100%;
    /* background-color: rgb(230, 230, 230); */
    padding: 60px 60px;
}
#four #wehave{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
}
#wehave h2{
    font-size: 30px;
    font-weight: 800;
}
#wehave h6{
    color: #40A9D1;
}
#four #map{
    width: 100%;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    left: 12%;
    
}

#MainBackground
{
  width: 100%;
  height: 108%;
  background-color: #E1F2F9 ;
  position: relative;
  padding-left: 50px;
  
}
/* (430 *495 ) resolution  */
#MainBackground img 
{
   position: absolute;
  height: 742.5px;
  width: 725px;
  background-color: #E1F2F9 ;
  right: 40px;
  top: 90px;
}
#MainBackground h1
{
     position: absolute;
     top: 20%;
     font-weight: 900;
     font-size: 50px;
     width: 40%;
     line-height: 63px;

    }

    #MainBackground p
    {
      position: absolute;
      top: 39%;
      width: 34%;

    }

    #MainBackground #but1
    {
      position: absolute;
    background-color: rgb(99, 165, 187);
      padding: 20px 40px;
      border: none;
      top: 57%;
      color: white;
      border-radius: 8px;
      transition: cubic-bezier(0.19, 1, 0.22, 3);
      outline: none;
    }
    #but1:hover
    {
      background-color: #fff;
      box-shadow: 0px 0px 20px rgba(99, 165, 187, 0.582);
      transform: scale(1.01);
      border-radius: 10px;
      cursor: pointer;
    }

    #MainBackground #but2
    {
      position: absolute;
     left: 17%;
    background-color: transparent;
      padding: 10px 20px;
      border: 1px solid #999;
      top: 57%;
      color:rgb(99, 165, 187);
      padding: 20px 40px;
      border-radius: 8px;  
    }
    #but2:hover
    {
      background-color: transparent;
      box-shadow: 0px 0px 20px rgba(99, 165, 187, 0.582);
      transform: scale(1.01);
      border-radius: 8px;
      cursor: pointer;
    }
   
 #icons
 {
   position: absolute;
   top: 68%;
   font-size: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: .7;
   

   }
   #icons i
   {
     padding-right: 10px;
   }

   #icons #line
   {
     width: 70px;
     height: 2px;
    background-color: black;
    }
 #logo
 {
  position: absolute;
font-size: 30px;
top: 30px;
color: black;
}

#navbar
{
  display: flex;
  position: absolute;
  left: 50%;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar a
{
  
  text-decoration: none;
  margin-right: 60px;
 color: black;
  
  
}

#line2
{
  width: 36px;
     height: 2px;
    background-color: rgba(0, 0, 0, 0.856);
    position: absolute;
    top: 63px;
    left: 50.3%;
    opacity: .6;
}

#but3
{
  position: absolute;
background-color:rgb(99, 165, 187);
padding: 10px 20px;
      border-radius: 8px; 
      right: -15%;
      border: none;
      color: white;
      
}
#but3:hover
{
  /* background-color: #fff; */
  box-shadow: 0px 0px 20px rgba(99, 165, 187, 0.582);
  transform: scale(1.01);
  border-radius: 10px;
  cursor: pointer;
}

#secondPage
{
  width: 100%;
  height: 60%;
  background-color: white;
  /* background-color: yellow; */
position: relative;
padding-left: 50px;

}

#secondPage h2
{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 16px;
}

#secondPage h1
{
  color: black;
  position: absolute;
  top:18%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 900;
  background-color: rgb(193, 229, 241);
}

#secondPage img
{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 60%;
  left: 50%;
  width: 800px;
}

#thirdPage
{
width: 100%;
height:80%;
 
  position: relative;
  /* background-color: yellow; */
  
}
#thirdPage img
{
  width: 800px;
  position: absolute;
  
}

#thirdPage h1
{
  color: black;
  position: absolute;
  right: 110px;
  top: 130px;
  font-weight: 800;
  width: 30%;
  font-size: 35px;
}
#thirdPage p
{
  color: black;
  position: absolute;
  right: 110px;
  top: 260px;
  font-weight: 300;
  width: 30%;
  font-size: 17.5px;
}

#thirdPage button
{
  position: absolute;
    
    background-color: rgb(99, 165, 187);
      padding: 20px 40px;
      border: none;
      right: 27.5%;
  top: 390px;
      color: white;
      border-radius: 8px;
      outline: none;
}

#thirdPage button:hover
{
 
  box-shadow: 0px 0px 20px rgba(99, 165, 187, 0.582);
  transform: scale(1.01);
  border-radius: 10px;
  cursor: pointer;

}